button{
    border-radius: 4px;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    box-shadow: none;
    font-family: inherit;
    margin-right:5px
}
.create{
    margin-left: 25%;
    width: 50%;
    margin-top: 10px;
    background-color:darkgray;
    font-weight: bold;
}
button:hover{
    background: rgba(0, 0, 0, 0.5);
}
.buttonss{
    padding-top: 8px;
    padding-right: 8px;
}
