/*Set of cards*/
i {
    border-radius: 50%;
    padding: 10px;
    background-color: green;
    color: aliceblue;
}

ul>li {
    padding: 15px;
    list-style: none;
    font-size: 20px;
    border: 1px solid green;
    background-color: rgb(215, 240, 215);
    margin: 0 0 8px 0
}

ul {
    margin: 0 20px;
}

h2 {
    text-align: center;
    color: green;
}

.setofcards{
margin-top: 20px;
margin-left: 30%;
margin-right:30%;
text-align: center;
}